body {
    font-family: 'Courier New', monospace;
    background-color: #000;
    color: #00ff00;
    margin: 0;
    display: flex;
    align-items: center;https://learn.microsoft.com/ko-kr/windows/win32/wmisdk/setting-up-the-wmi-snmp-environment
    justify-content: center;
    height: 100vh;
}

#shell-container {
    border: 2px solid #00ff00;
    border-radius: 5px;
    overflow: hidden;
    width: 400px;
}

#output {
    background-color: #000;
    padding: 10px;
    overflow-y: scroll;
    max-height: 200px;
}

#input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #000;
}

#input-container span {
    color: #00ff00;
    margin-right: 5px;
}

#command-input {
    background-color: #000;
    border: none;
    color: #00ff00;
    outline: none;
    width: 100%;
}